<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">

	<os:object-store name="watermarkStore" doc:name="Object store"
		persistent="false" />

	<configuration-properties doc:name="Configuration properties"
		doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd" file="common.properties" />
	<configuration-properties doc:name="Configuration properties"
		doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9" file="mule.${mule.env}.properties" />
	<salesforce:sfdc-config name="Salesforce_Config"
		doc:name="Salesforce Config" doc:id="f06ab5f9-742f-40a2-9765-28a76ef8c873">
		<salesforce:basic-connection username="${sfdc.username}"
			password="${sfdc.password}" securityToken="${sfdc.securityToken}" />
	</salesforce:sfdc-config>
	<netsuite:config name="NetSuite_Config" doc:name="NetSuite Config"
		doc:id="5a71f941-35ae-4520-85ec-e1c37fcc14a8">
		<netsuite:login-authentication-connection
			email="${nets.email}" password="${nets.password}" account="${nets.account}"
			roleId="${nets.roleId}" applicationId="${nets.appId}" />
	</netsuite:config>

</mule>

        